@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    
}
html,body{
    height: 100%;
    width: 100%;
}



 .form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
   
} 
.email{
    border-radius: 20px;
}
.btn1{
    display: inline;
    border-radius: 20px;
    padding: 5px;
    width: 150%;

}

.btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    box-shadow: 0 5px 15px -5px rgb(16, 15, 15);
    color: hsl(223, 87%, 63%);
    overflow: hidden;
    position: relative;
    background: rgb(255, 245, 245);
    border-radius: 30%;
}
.btn i{
    
        font-size: 30px;
   
}
.btn:hover i{
   
    color: rgb(26, 25, 25);
}


.text{
    margin-top: 2%;
    color: hsl(223, 87%, 63%);
}
.attribution {
    font-size: 15px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


